{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = "500x300.png" %}
{% endif %}

{% assign title = post.title %}
{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% endif %}

{% assign primary_url = nil %}
{% if post.paperurl %}{% assign primary_url = post.paperurl %}{% endif %}
{% if primary_url == nil and post.weburl %}{% assign primary_url = post.weburl %}{% endif %}
{% if primary_url == nil and post.codeurl %}{% assign primary_url = post.codeurl %}{% endif %}
{% if primary_url == nil and post.bibtexurl %}{% assign primary_url = post.bibtexurl %}{% endif %}

<div class="list__item" {% if include.data_selected %}data-selected="{{ include.data_selected }}"{% endif %}>
  <div class="research-item">
    <div class="research-image">
      {% if primary_url %}<a href="{{ primary_url }}">{% endif %}
        <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}" alt="{{ title }}">
      {% if primary_url %}</a>{% endif %}
    </div>
    
    <div class="research-info">
      <div class="research-title">
        {% if primary_url %}<a href="{{ primary_url }}">{% endif %}{{ title }}{% if primary_url %}</a>{% endif %}
      </div>
      
      {% if post.authors %}
        <div class="research-authors">{{ post.authors }}</div>
      {% endif %}
      
      {% if post.venue %}
        {% assign lower_venue = post.venue | downcase %}
        {% unless lower_venue contains "arxiv" or lower_venue contains "submission" %}
          <div class="research-venue">{{ post.venue }}{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</div>
        {% else %}
          {% if post.date %}
            <div class="research-venue">{{ post.date | date: "%Y" }}</div>
          {% endif %}
        {% endunless %}
      {% endif %}
      
      {% comment %}
      {% if post.status %}
        <div class="research-spotlight">{{ post.status }}</div>
      {% elsif post.venue contains "submission" %}
        <div class="research-spotlight">In submission</div>
      {% endif %}
      {% endcomment %}

      <div class="research-links">
        {% if post.paperurl %}<a href="{{ post.paperurl }}">PDF</a>{% endif %}
        {% if post.bibtexurl %}{% if post.paperurl %} / {% endif %}<a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
        {% if post.codeurl %}{% if post.paperurl or post.bibtexurl %} / {% endif %}<a href="{{ post.codeurl }}">Code</a>{% endif %}
        {% if post.weburl %}{% if post.paperurl or post.bibtexurl or post.codeurl %} / {% endif %}<a href="{{ post.weburl }}">Project</a>{% endif %}
      </div>
    </div>
  </div>
</div>
