{% include base_path %}

{% assign pubs = site.publications | sort: "date" | reverse %}

<table class="kz-research" id="kz-research-table">
  <tbody>
  {% for post in pubs %}
    {% assign is_selected = post.selected | default: false %}

    {% assign teaser = nil %}
    {% if post.header and post.header.teaser %}
      {% assign teaser = post.header.teaser %}
    {% endif %}

    {% assign primary_url = nil %}
    {% if post.paperurl %}{% assign primary_url = post.paperurl %}{% endif %}
    {% if primary_url == nil and post.weburl %}{% assign primary_url = post.weburl %}{% endif %}
    {% if primary_url == nil and post.codeurl %}{% assign primary_url = post.codeurl %}{% endif %}
    {% if primary_url == nil and post.bibtexurl %}{% assign primary_url = post.bibtexurl %}{% endif %}

    <tr class="kz-research-row{% unless is_selected %} kz-not-selected{% endunless %}" data-selected="{% if is_selected %}1{% else %}0{% endif %}">
      <td class="kz-research-img">
        {% if teaser %}
          {% if primary_url %}<a href="{{ primary_url }}">{% endif %}
            <img
              src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}"
              alt="">
          {% if primary_url %}</a>{% endif %}
        {% endif %}
      </td>
      <td>
        <div class="kz-title">
          {% if primary_url %}<a href="{{ primary_url }}">{% endif %}{{ post.title }}{% if primary_url %}</a>{% endif %}
        </div>
        {% if post.authors %}
          <div class="kz-authors">{{ post.authors }}</div>
        {% endif %}
        <div>
          {% if post.venue %}
            <span class="kz-venue">{{ post.venue }}</span>
          {% endif %}
          {% if post.date %}
            <span>{% if post.venue %}&nbsp;{% endif %}{{ post.date | date: "%Y" }}</span>
          {% endif %}
        </div>
        <div class="kz-links">
          {% if post.paperurl %}<a href="{{ post.paperurl }}">PDF</a>{% endif %}
          {% if post.codeurl %}<a href="{{ post.codeurl }}">Code</a>{% endif %}
          {% if post.weburl %}<a href="{{ post.weburl }}">Project</a>{% endif %}
          {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}">BibTeX</a>{% endif %}
        </div>
        {% if post.excerpt %}
          <div class="kz-excerpt">{{ post.excerpt }}</div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>


